@model SubCategoryViewModel

@{
    ViewBag.Title = "Sub Category Details";
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h3>Sub Category Detail</h3>

<div class="card">
    <h4 class="alert-success">@ViewBag.Success</h4>
    <h4 class="alert-danger">@ViewBag.Error</h4>
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <input hidden asp-for="CategoryID" id="catName" />
                <div class="card-body">

                    <div class="form-group row">
                        <label asp-for="CategoryName" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-7">
                            <input asp-for="CategoryName" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="SubCategoryName" class="col-sm-3 col-form-label">Sub Category Name</label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="SubCategoryName" disabled class="form-control" placeholder="Enter Sub Category Name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-7">
                            <a class="form-control btn btn-success" asp-area="Admin" asp-action="" asp-controller="SubCategory">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

            <div class="vertical-line"></div>
        <div class="col-md-3">
            <p>Existing SubCategory</p>
            <table id="subCategoryList" class="table table-bordered">
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
            var cat = $('#catName').val();
            subCategoryShow(cat);
        })
        debugger;
        function subCategoryShow(category) {
            debugger;
            $("#subCategoryList").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("SubCategoryList")',
                    dataType: 'JSON',
                    data: { categotyId: category },
                    success: function (subCategory) {
                        //debugger;
                        if (subCategory.length == 0) {
                            var message = "No Have any Sub Category";
                            $('#subCategoryList').append('<tr><td>' + message + '</td></tr>');
                        }
                        $.each(subCategory, function (index, item) {
                            var subCat = item.subCategoryName;
                            $('#subCategoryList').append('<tr><td>' + subCat + '</td></tr>');
                        })
                    },
                    error: function (err) {
                        $(".alert-danger") = err.val();
                    }
                })
        }
    </script>
}