<h2 *ngIf="id==null">Add New Customer</h2>
<h2 *ngIf="id!=null">Edit Customer</h2>
<hr>
<br>
<div *ngIf="success === true" class="p-3 mb-2 bg-success text-white">
    Data Inserted Successfully...
</div>


<form [formGroup]="form" (ngSubmit)="onsubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control" formControlName="CustomerName" id="customerName" placeholder="Enter Customer Name">
            <div *ngIf="_form.CustomerName?.touched && _form.CustomerName?.invalid" class="alert alert-danger">
                <div *ngIf="_form.CustomerName.errors?.required">Please Enter Customer Name</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="Email" id="email" placeholder="Enter Email">
            <div *ngIf="_form.Email?.touched && _form.Email?.invalid" class="alert alert-danger">
                <div *ngIf="_form.Email.errors?.required">Please Enter Email</div>
                <div *ngIf="_form.Email.errors?.pattern">Please Enter Valid Email</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="phoneNo">Phone No</label>
            <input type="text" class="form-control" formControlName="Phone" id="phoneNo" maxlength="10" placeholder="Enter Phone No">
            <div *ngIf="_form.Phone?.touched && _form.Phone?.invalid" class="alert alert-danger">
                <div *ngIf="_form.Phone.errors?.required">Please Enter Phone</div>
                <div *ngIf="_form.Phone.errors?.minlength">Phone number shube be 10 Digit</div>
                <div *ngIf="_form.Phone.errors?.pattern">Please Enter Digit</div>
            </div>
        </div>
    </div>

    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary" *ngIf="id==null" [disabled]="!form.valid">Save</button>
        <button type="submit" class="btn btn-primary" *ngIf="id!=null" [disabled]="!form.valid">Update</button>&nbsp;&nbsp;
        <a class="btn btn-danger" routerLink="/customers">Cancle</a>
    </div>
</form>