.background-color {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.form {
    padding: 60px;
}

h4 a {
    color: white;
}

h4 a:hover {
    color: yellow;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

.white {
    background-color: #fff;
}

.border {
    display: block;
    width: 900px;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.mt-50px {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-10 {
    margin-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.ml {
    padding-left: 300px;
}

.width {
    width: 20rem;
    margin-left: 20px;
}

.card-body {
    text-align: center;
}

.color-1 {
    background-color: hsl(31, 76%, 68%);
}

.color-2 {
    background-color: violet;
}

.color-3 {
    background-color: rgb(224, 168, 178);
}

.wood-color {
    background-color: #ecb171;
    color: white;
}

.left-panel-color {
    background-color: #b45f06;
    height: 100%;
    position: fixed;
    z-index: 1;
    color: white;
}

.design {
    padding: 15px 35px;
}