<h1>DashBord</h1>
<hr><br>

<div class="row card-center txt-white">
    <div class="card ma-5 bg-blue">
        <div class="card-body">
            <h3 class="card-title">No of Products</h3>
            <br>
            <h4 class="card-text text-right">{{ dashbord.NoOfProduct }}</h4>
        </div>
    </div>
    &nbsp;&nbsp;
    <div class="card ma-5 bg-yellow">
        <div class="card-body">
            <h3 class="card-title">Today Order</h3>
            <br>
            <h4 class="card-text text-right">{{ dashbord.TodayOrder }}</h4>
        </div>
    </div>
    &nbsp;&nbsp;
    <div class="card ma-5 bg-green">
        <div class="card-body">
            <h3 class="card-title">Less 10 Quantity</h3>
            <br>
            <h4 class="card-text text-right">{{ dashbord.LessQuantity }}</h4>
        </div>
    </div>
</div>