@{ 
    ViewBag.Title = "404 Page Not Found";
}

<div style="text-align:center">
    <h1>404</h1>
    <p>Page Not Found</p>
    <a asp-action="Index" asp-area="" asp-controller="Home" class="btn btn-primary">Click hear Go for Home</a>
</div>