<br>
<h1>Wellcom to Inventory Management</h1>
<hr><br><br>
<div class="alert alert-danger" *ngIf="Message != null">{{ Message }}</div>

<form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
    <div class="form-group">
        <label for="UserName">UserName</label>
        <input type="email" class="form-control" formControlName="UserName" id="UserName" placeholder="Enter UserName" autofocus>
        <div *ngIf="_form.UserName?.touched && _form.UserName?.invalid" class="alert alert-danger">
            <div *ngIf="_form.UserName.errors?.required">Please Enter UserName</div>
            <div *ngIf="_form.UserName.errors?.email">Please Enter Valid EmailID</div>
        </div>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" formControlName="Password" id="Password" placeholder="Password">
        <div *ngIf="_form.Password?.touched && _form.Password?.invalid" class="alert alert-danger">
            <div *ngIf="_form.Password.errors?.required">Please Enter Password</div>
        </div>
    </div>
    <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
</form>