
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br />
<br />

<h1>Current Time - @DateTime.Now</h1>
<br />

<a href="/CacheOutput/Index">Click</a>

@Html.Raw("<h1>Hello</h1> &lt; &gt;")

<br />
<br />
<br />
